* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.user {
    width: 100px;
    margin-bottom: 20px;
}

.nav {
    background-color: #946d08;
    color: #fff;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    height: 1000px;
    text-align: center;  
}

.nav2 {
    background: #279311;
    color: #fff;
    display: flex;
    justify-content: end;
    padding: 20px 10px;
    /* align-self: flex-end; */
}

.bell {
    width: 20px;
}

.logout {
    padding-left: 10px;
    padding-right: 15px;
}

.page-grid {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.number {
    font-size: 20px;
}

.level {
    padding-top: 10px;
    margin-bottom: 25px;
}

.btn {
    width: 250px;
    padding: 8px 10px;
    background: #239408;
    margin-bottom: 15px;
    border-radius: 10px;
}

.btn-white {
    background: #fff;
    color: #239408;
}

.screentwo {
    max-width: 900px;
    overflow: auto;
    padding: 60px 40px;
    margin: auto;
}

.nav {
    background-color: #946d08;
    color: #fff;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    height: 1000px;
    text-align: center;  
}

.nav2 {
    background: #279311;
    color: #fff;
    display: flex;
    justify-content: end;
    padding: 20px 10px;
    /* align-self: flex-end; */
}

.bell {
    width: 20px;
}

.logout {
    padding-left: 10px;
    padding-right: 15px;
}

.select {
    background-color: #946d08;
    padding: 5px;
    color: #fff;
    border: none;
}

.btndown {
    display: flex;
    align-items: center;
    background-color: #946d08;
    width: 120px;
    color: #fff;
    margin-top: 20px;
    border-radius: 7px;
}


.downicon {
    width: 25px;
    align-items: center;
    padding-left: 5px;
}

.screentable {
    margin-left: 100px;
}

.flexscreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}



.headscreen {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 15px;
    padding: 10px;
    background-color: #239408;
    color: #fff;
}

.printer {
    width: 20px;
    margin-left: 5px;
}

.printflex {
    display: flex;
    align-items: center;
    
}

.headscreen1 {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 15px;
    padding: 10px;
    border-bottom: 1px dotted #333;
}


.footerbtn {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}


.supportbtn {
    width: 90px;
    padding: 8px 10px;
    background: #239408;
    margin-top: 80px;
    border-radius: 7px;
}
